/********** Fact CSS ***********/
/*******************************/
.s_count_7 {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.s_count_7 .col-6 {
    display: flex;
    align-items: flex-start;
}

.s_count_7 .fact-icon {
    position: relative;
    margin: 7px 15px 0 15px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s_count_7 .fact-icon [class^="flaticon-"]::before {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    background-image: linear-gradient(#ffffff, #fdbe33);
    
    -webkit-text-fill-color: transparent;
}

.s_count_7 .fact-right .fact-icon [class^="flaticon-"]::before {
    background-image: linear-gradient(#ffffff, #030f27);
}

.s_count_7 .fact-left,
.s_count_7 .fact-right {
    padding-top: 60px;
    padding-bottom: 60px;
}

.s_count_7 .fact-text h2 {
    font-size: 35px;
    font-weight: 700;
}

.s_count_7 .fact-text p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.s_count_7 .fact-left {
    color: #fdbe33;
    background: #030f27;
}

.s_count_7 .fact-right {
    color: #030f27;
    background: #fdbe33;
}

.s_count_7 .fact-left h2 {
    color: #fdbe33;
}

  